{% extends 'base.html' %}

{% block body %}
<h1>Create a user</h1>
<form action="/users/new" method="POST">
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="first_name" name="first_name" placeholder="first_name">
        <label for="first_name">First Name</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="last_name" name="last_name" placeholder="last_name">
        <label for="last_name">Last Name</label>
    </div>
    <div class="form-floating mb-3">
        <input type="text" class="form-control" id="image_url" name="image_url" placeholder="image_url">
        <label for="image_url">Image URL</label>
    </div>
    <div class="d-flex justify-content-right">
        <button class="btn btn-success w-100">Add</button>
    </div>
</form>
{% endblock %}