{% extends 'base.html' %}

{% block body %}
<div class="container">
    <div class="row text-center">
        <h1 class="h1">Create a user</h1>
    </div>
    <form class="row" action="/users/new" method="POST">
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="first_name">First Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="first_name" name="first_name" placeholder="first_name">
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="last_name">Last Name</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="last_name" name="last_name" placeholder="last_name">
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="image_url">Image URL</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="image_url" name="image_url" placeholder="image_url">
            </div>
        </div>
        <div class="row mb-3 text-center">
            <div class="col-sm-10 offset-sm-2">
                <button class="btn btn-success w-100">Add</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}