{% extends 'base.html' %}

{% block title %}Users{% endblock %}

{% block body %}
<div class="container">
    <div class="row mb-3 text-center">
        <h1 class="h1">Users</h1>
    </div>
    <div class="row mb-3 text-center">
        <div class="list-group">
            {% for user in users %}
            <a href="/users/{{user.id}}" class="list-group-item list-group-item-action rounded-0">{{user.first_name}}
                {{user.last_name}}</a>
            {% endfor %}
        </div>
    </div>
    <div class="row mb-3 text-center">
        <form action="/users/new" method="GET">
            <button class="btn btn-outline-primary">Add User</button>
        </form>
    </div>
</div>
{% endblock %}